
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello, ASP NET MVC
    </div>

    <table>
        <tr>
            <td>회원가입 링크</td>
            <td>@Html.ActionLink("회원가입","Join")</td>
        </tr>
    </table>
</body>
</html>
